body {
    padding: 0px;
    font-family: "微软雅黑";
    margin: 0px;
}

.container {
    margin: 0 3%;
}

td {
    width: 12%;
    text-align: center;
}

table {
    border-spacing: 0px;
    width: 60%;
}

.lab {
    float: left;
    width: 100px;
}

.toolBar {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #BDB4C9;
    vertical-align: middle;
}

.backBtn {
    width: 10%;
    height: 24px;
    line-height: 24px;
    margin-left: 5%;
    background-color: #39B15A;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}
.backBtn:hover {
    background-color: #72DB67;
}

